body {
    overflow: hidden;
    margin: 0px;
    font: 14px 'Arial', Arial, sans-serif;
}

.gutter {
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter:hover {
    background-color: #AAAAAA;
}

.gutter.gutter-vertical {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-image: url('assets/horizontal.png');
    cursor: ns-resize;
}

#edit {
    position: relative;
    overflow: hidden;
    min-width: 960px;
}

#info {
    position: relative;
    overflow: auto;
}

#hud {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    top: 0px;
    bottom: 12px;
}


#actions {
    position: absolute;
    pointer-events: all;
    top: 16px;
    left: 16px;
}

.action_button {
    height: 40px;
    min-width: 72px;
    margin-top: auto;
    margin-bottom: 20px;
    line-height: 40px;
    border: 2px solid #000000;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #FFFFFF;
}

.action_button:hover {
    cursor: default;
    background-color: #ACCEF7;
}

#canvas {
    position: absolute;
    outline: none;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #EEEEEE;
}

#sidebar {
    position: absolute;
    pointer-events: all;
    top: 16px;
    right: 24px;
    width: 240px;
    height: 480px;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}